<ion-view title="Ticket booking"> <ion-content
	padding="'true'" class="has-header"> <!-- 	<div id="TBorder" >

		<p>Ticket Booking</p>
		<p>ZOO</p>
	</div>
 -->


<div class="list card">
	<h3 style="text-align: center;">Ticket Booking</h3>
	<div class="item item-avatar">
		<img
			ng-src="https://previews.123rf.com/images/vectorchef/vectorchef1508/vectorchef150803235/43119220-zoo-gate-icon-Stock-Vector.jpg">
		<h2>Zoo Name</h2>
		<p>address</p>
		<p>Phone and mail</p>
	</div>

	<!-- <div class="list card">
		<p style="float: left; text-align: center;">Date:</p>
		<input style="float: right;" type="text" id="datepicker">
	</div> -->
	<div class="list">
   <div class="item item-divider"></div>
   <div class="item"><span>Date: </span><input type="text" id="datepicker"></div>
   <div class="item">
   
   
   <span class="icon ion-home">Date</span>
      <span class="text-note">Text note</span>
   
   </div>
   <div class="item">Item 3</div>

   <div class="item item-divider"></div>
   <div class="item">Item 4</div>
   <div class="item">Item 5</div>
   <div class="item">Item 6</div>
</div>

</div>




</ion-content> </ion-view>
