<ion-view title="found transfer"> <ion-header-bar
	class="bar-positive">
<h1 class="title">Accordion List</h1>
</ion-header-bar> <ion-content> <ion-list>

<div class="list card">
<div ng-repeat="group in groups" >
	<ion-item  ng-click="toggleGroup(group)"
		ng-class="{active: isGroupShown(group)}" class="item item-icon-left"> <i class="icon"
		ng-class="isGroupShown(group) ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
	
	<p>Transaction Purpose</p>
	<font>Personal Support</font> </ion-item>
	<ion-item class="item-accordion" ng-repeat="item in group.items"
		ng-show="isGroupShown(group)"> {{item}} </ion-item>
</div>

</div>


<div class="list card">

	<a href="#" class="item item-icon-left" ng-click="toggleGroup(1)"> <i
		class="icon ion-ios-arrow-down"></i>
		<p>Transaction Purpose</p> <font>Personal Support</font>
	</a> <a href="#" class="item item-icon-left"> <i
		class="icon ion-ios-arrow-down"></i>
		<p>Transaction Purpose</p> <font>Personal Support</font>
	</a>


</div>

</ion-list> </ion-content> </ion-view>
