<ion-view title="Listview"> <ion-content padding="'true'"
	class="bar-stable">

<div style="display: none;">
	<div class="item backdiv"></div>
	<div class="item frontdiv">
		<p style="float: left;">current</p>
		<p style="float: right;">1234 1234 1234</p>
		<br> <br>
		<p style="float: left;">Total Available</p>
		<p style="float: right; font-size: 25px;">229.02 OMR</p>
	</div>
</div>


<div class="list" style="display: none;">
    <a class="item item-avatar" href="#">
      <img src="http://ionicframework.com/img/docs/spengler.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>


<div id="mapp" style="height: 100%;width: 100%;">

</div>



</ion-content> </ion-view>
